:root {
  --borderRadiusDefault: 0.5rem;
  --inputPaddingY: 0.63rem;
  --inputPaddingX: 0.88rem;
  --defaultFontSize: 1.13rem;
  --biggerFontSize: 1.5rem;
  --smallerFontSize: 0.88rem;

  font-size: var(--defaultFontSize);
}

* {
  margin: 0;
  padding: 0;
}

button {
  display: inline-block;
  border: none;
  border-radius: 0px;
  padding: var(--inputPaddingY) var(--inputPaddingX);
  margin: 0;
  text-decoration: none;
  font-family: sans-serif;
  cursor: pointer;
  text-align: center;
  -webkit-appearance: none;
  -moz-appearance: none;
}
input {
  border: none;
  padding: var(--inputPaddingY) var(--inputPaddingX);
  margin: 0;
}

body {
  background-color: #ff33;
}
