@import url("https://fonts.googleapis.com/css2?family=Rubik:wght@400;500;700&display=swap");

:root {
  --borderRadiusDefault: 0.5rem;
  --inputPaddingY: 0.63rem;
  --inputPaddingX: 0.88rem;
  --defaultFontSize: 1rem;
  --biggerFontSize: 1.5rem;
  --smallerFontSize: 0.75rem;
  --accessibleGray: #4f4f4f;

  font-size: var(--defaultFontSize);
}

* {
  margin: 0;
  padding: 0;
  font-family: "Rubik", sans-serif;
}
h1 {
  color: white;
  font-size: var(--defaultFontSize);
  font-size: 400;
}

button {
  display: inline-block;
  border: none;
  border-radius: 0px;
  padding: var(--inputPaddingY) var(--inputPaddingX);
  margin: 0;
  text-decoration: none;
  font-family: sans-serif;
  cursor: pointer;
  text-align: center;
  -webkit-appearance: none;
  -moz-appearance: none;
}
input {
  border: none;
  padding: var(--inputPaddingY) var(--inputPaddingX);
  margin: 0;
}

body {
  background-color: #ff33;
}

.skeleton {
  animation: skeleton-loading 1s linear infinite alternate;
}

@keyframes skeleton-loading {
  0% {
    background-color: hsl(200, 20%, 80%);
  }
  100% {
    background-color: hsl(200, 20%, 95%);
  }
}

.skeleton-text {
  width: 100%;
  height: var(--defaultFontSize);
  margin-bottom: 0.5rem;
  border-radius: 0.25rem;
}
