.topoBGContainer {
  height: 12rem;
  background-image: url("/pattern-bg.png");
  background-size: cover;
  display: flex;
  justify-content: center;
}

.topoBGContainer h1 {
  color: white;
  font-size: var(--defaultFontSize);
  margin-top: 1.5rem;
}

.overlayContainer {
  position: absolute;
  top: 5rem;
  display: flex;
  flex-direction: column;
  z-index: 100;
  justify-content: center;
  align-items: center;
  width: 100%;
  max-height: 40vh;
  gap: 1rem;
}

.searchBarInput {
  flex-grow: 1;
  border: solid 1px black;
  border-radius: var(--borderRadiusDefault) 0px 0px var(--borderRadiusDefault);
}

.searchBarInputLarge {
  max-width: 300px;
}
.searchBarInputSmall {
  max-width: 150px;
}

.searchBarContainer {
  display: flex;
  width: 100%;
  justify-content: center;
}

.searchBarButton {
  background-color: black;
  color: white;
  border-radius: 0px var(--borderRadiusDefault) var(--borderRadiusDefault) 0px;
  /* transition: background 250ms ease-in-out, transform 150ms ease; */
}
.searchBarButton:hover {
  opacity: 80%;
}

.addressContainer {
  display: grid;
  background: white;
  border-radius: var(--borderRadiusDefault);
  max-width: 80vw;
}

@media only screen and (min-width: 501px) {
  .addressContainer {
    grid-template-columns: 1fr 1px 1fr 1px 1fr 1px 1fr;
    grid-template-rows: 1;
  }
}
@media only screen and (max-width: 500px) {
  .addressContainer {
    grid-template-columns: 1;
    grid-template-rows: repeat(4, 1fr);
  }
}

.addressSection {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  gap: 0.5em;
  padding: 2em;
  text-align: left;
}

@media only screen and (max-width: 500px) {
  .addressSection {
    padding: 1em 3em 1em 3em;
    align-items: center;
  }
}
@media only screen and (min-width: 501px) {
  .separator {
    display: inline;
    margin: 2.5em 0;
    border: 1px solid lightgray;
  }
}
@media only screen and (max-width: 500px) {
  .separator {
    display: none;
  }
}

.addressLabel,
.addressValue {
  font-weight: bold;
}

.addressLabel {
  color: gray;
  font-size: var(--smallerFontSize);
}

.addressValue {
  color: black;
  font-size: var(--biggerFontSize);
}

@media only screen and (max-width: 500px) {
  .addressLabel {
    font-size: 0.5rem;
  }

  .addressValue {
    font-size: 1rem;
  }
}

.mapViewContainer {
  height: 400px;
  /* width: 100vw; */
  background: green;
  display: flex;
  flex-grow: 1;
  z-index: 1;
}
