.trackerPageContainer {
  position: relative;
  width: 100vw;
  height: 100vh;
  display: flex;
  flex-direction: column;
}

.topoBGContainer {
  height: 12rem;
  background-image: url("/pattern-bg.png");
  background-size: cover;
}

.overlayContainer {
  position: absolute;
  display: flex;
  flex-direction: column;
  z-index: 100;
  align-items: center;
  justify-content: center;
  width: 100vw;
  top: 1.5em;
  gap: 1em;
}

.overlayContainer > * {
  max-width: 80vw;
}

.errorPadding {
  margin: 0.1em 0;
}
.errorContainer {
  background-color: white;
  padding: 0 0.2em;
  border-radius: var(--borderRadiusDefault);
}

.errorContainer > * {
  color: red;
  font-size: 0.8em;
  display: inline;
}

.searchBarInput {
  flex-grow: 1;
  border: solid 1px black;
  border-radius: var(--borderRadiusDefault) 0px 0px var(--borderRadiusDefault);
}

.searchBarInputLarge {
  max-width: 300px;
}
.searchBarInputSmall {
  max-width: 150px;
}

.searchBarContainer {
  display: flex;
  width: 100%;
  justify-content: center;
}

.searchBarButton {
  background-color: black;
  color: white;
  border-radius: 0px var(--borderRadiusDefault) var(--borderRadiusDefault) 0px;
  /* transition: background 250ms ease-in-out, transform 150ms ease; */
}
.searchBarButton:hover {
  opacity: 80%;
}

.dataDisplayerContainer {
  background: white;
  border-radius: var(--borderRadiusDefault);

  display: grid;
  grid-template-columns: 1fr;
}

@media only screen and (min-width: 500px) {
  .dataDisplayerContainer {
    grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
  }
}

.dataDisplayerBlock {
  display: grid;
  grid-template-columns: 1fr 1px;
  grid-template-rows: 1fr;
}


.addressSection {
  display: flex;
  gap: 0.5em;
  text-align: left;
  flex-direction: column;
  justify-content: center;
  align-items: start;
  padding: 2em;
  overflow: clip;
  overflow-wrap: break-word;
}

@media only screen and (max-width: 1000px) {
  .addressSection {
    padding: 0.6em 3em;
    align-items: center;
    justify-content: center;
    text-align: center;
  }
}
@media only screen and (min-width: 1001px) {
  .separator {
    display: inline;
    margin: 2em 0;
    border: 1px solid lightgray;
  }
}
@media only screen and (max-width: 1000px) {
  .separator {
    display: none;
  }
}

.addressLabel,
.addressValue {
  font-weight: 500;
}

.addressLabel {
  color: var(--accessibleGray);
  font-size: var(--defaultFontSize);
}

.addressValue {
  color: black;
  font-size: var(--biggerFontSize);
}

@media only screen and (max-width: 1000px) {
  .addressLabel {
    font-size: 0.5rem;
  }

  .addressValue {
    font-size: 1rem;
  }
}

.mapViewContainer {
  height: 400px;
  /* width: 100vw; */
  background: green;
  display: flex;
  flex-grow: 1;
  z-index: 1;
}
